<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mark.makefriends">

    <!--网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 监听网络的变化 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <!-- 设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- sd卡存储-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--摄像头-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--录音-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--通知震动-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 更改设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarAppTheme">

        <!--Bmob Application ID-->
        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="c7b3d285e74c0ca37950c20b10f8c85a"/>
        <!--高德Key-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="dd7356fe48e767974efb610f57c9ecea"/>

        <!--定位需要的服务-->
        <service android:name="com.amap.api.location.APSService"/>

        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.RegisterActivity"/>
        <activity android:name=".ui.MainActivity"/>
        <activity android:name=".ui.CompleteUserInfoActivity"/>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"/>
        <activity android:name=".ui.FindPasswordActivity"/>
        <activity android:name=".ui.FrescoTestActivity"/>
        <activity android:name=".ui.SettingsActivity"/>
    </application>

    <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver" >
        <intent-filter>
            <action android:name="cn.bmob.action.RECONNECT" />
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <action android:name="android.intent.action.USER_PRESENT" />
        </intent-filter>
    </receiver>

    <service
        android:name="cn.bmob.newim.core.service.BmobImService"
        android:process=":bmobcore" />
    <service
        android:name="cn.bmob.newim.core.service.NotifyService"
        android:process=":bmobcore" />
    <service android:name="cn.bmob.newim.core.service.ReConnectService" />
    <service android:name="cn.bmob.newim.core.service.HeartBeatService" />

</manifest>
